.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	color:#13595a;
	padding-left: 7vw;
	padding-right:7vw;
}

.content{
	font-size: 40px;
	font-weight:bold;
	margin:0;
}

.img{
	display:flex;
	justify-content:center;
	align-items:center;
	width:70vw;
	margin: auto;
}